* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../static/background.jpg');
  background-size: 100%;;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Lato', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  height: 581px;
  width: 100%
}

.city {
  height: 150px;
  width: 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(52, 73, 94);
  border-radius: 8px;
  text-decoration: none;
}

.pic {
  width: 90px;
  padding-right: 10px;
}

.big {
  font-size: 40px;
}

.celsius {
  font-size: 60px;
}

.state {
  font-size: 20px;
}

.where {
  padding-left: 10px;
}