.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;
}

.item {
  align-self: flex-end;
  width: 100%;
}

.green {
  background: green;
  flex-grow: 1;
  order: 1;
}

.yellow {
  background: yellow;
  flex-grow: 2;
  order: 3;
}

.purple {
  background: purple;
  flex-grow: 1;
  order: 2;
}