* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

.head {
  width: 90%;
  height: 300px;
  overflow: hidden;
  background-image: url('images/header.jpg');
  font-family: 'Lato', sans-serif;
  letter-spacing: 35px;
  font-weight: thin;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 70px;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background: #CFCCCC;
  width: 90%;
}

.content {
  width: 65%;
  min-height: 400px;
  background: white;
  margin: 10px 0 0 10px;
}

.second {
  margin: 10px 10px 0 0;
  width: 30%;
  min-height: 100px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
}

.regButton {
  margin-bottom: 10px;
  height: 30px;
  background: #5D90CD;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 12px;
}

.post {
  width: 80%;
  height: 30px;
  background: #5D90CD;
  color: white;
}

.border {
  width: 80%;
  border: 1px solid black;
  border-radius: 20px;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.in {
  display: none;
}

.registration {
  display: none;
}

.newPost {
  display: none;
}

.SignIn {
  height: 200px;
}

.reg {
  height: 230px;
}
