<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/days.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">  
  <title>Document</title>
</head>
<body>
  <div class="city"><%=city%></div>
  <div class="container"> 
    <% for(let i = 0; i < 5; i++) { %>
      <div class="day">
        <img src="../static/sunny.png" alt="" class="im">
        <p class="temperature"><%=datas[0][i].temp%>⁰C</p>
        <p class="weather"><%=datas[0][i].message%></p>
      </div>
    <% }  %>
  </div>
  
</body>
</html>